# Environment variables
.env

# Dependencies
node_modules/
node_modules
package-lock.json
.package-lock.json

# MongoDB
.mongodb/
mongodb/
mongodb-binaries/
.mongodb-prebuilt/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Uploaded files
/uploads/*
!/uploads/.gitkeep

# IDE and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.classpath
.settings/

# Build outputs
/dist
/build
/.next
/out